In [1]:
import pandas as pd
df = pd.read_csv("/Users/qiwsir/Documents/Codes/DataSet/pm25/pm2.csv")
df.sample(10)

     RANK  CITY_ID CITY_NAME  Exposed days
214   237      344        临沂           166
90    100      458        韶关            80
51     59      233        台州            57
218   241      393        十堰           170
40     45       88        丹东            49
99    110      287        九江            86
17     19      484        汕尾            27
167   190      546        内江           124
135   148      163        绥化           101
187   210      605        汉中           137

In [3]:
df.shape

(264, 4)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 4 columns):
RANK            264 non-null int64
CITY_ID         264 non-null int64
CITY_NAME       264 non-null object
Exposed days    264 non-null int64
dtypes: int64(3), object(1)
memory usage: 8.3+ KB