In [1]:
import pandas as pd
marathon = pd.read_csv("/Users/qiwsir/Documents/Codes/DataSet/marathon/marathon.csv")
marathon.sample(5)

       age gender     split     final
4080    27      M  01:30:51  03:30:25
19669   41      M  02:01:28  04:49:15
8050    50      M  01:30:47  03:55:26
4209    38      W  01:42:07  03:31:12
27423   46      W  02:23:09  05:24:49